*, *::after, *::before{
    box-sizing: border-box;
}
.connection-fieldset{
    width: fit-content;
}

.test{
    height: 30px;
}

.whatever{
    font-size: large;
}

.nothing{
    background-color: blue;
}