*, *::after, *::before{
    box-sizing: border-box;
}
.connection-fieldset{
    width: 300px;
    margin: 10px auto;
}

#connection-form{
    width: 500px;
    margin: auto;
    text-align: center;
}
#connection-submit-button{
    width: 100px;
    text-wrap: wrap;
}